<nav>
    <div class="main_head row">
        <div class="col-lg-4 text-center"><a href="/shopping-cart">Shopping Cart
        <span class="badge">{{session.cart.totalQty}}</span>
        </a></div>
        <div class="sign col-lg-3 ">
            {{# if login}}
            <div class="sign_item">User account</div>
            <div class="sign_item">Logout</div>
            {{ else }}
            <div class="sign_item">Sign in</div>
            <div class="sign_item">Sign up</div>
            {{/if}}

        </div>
        
    </div>
</nav>