<nav>
    <div class="main_head row">
        <div class="col-lg-4 text-center">Shopping Cart</div>
        <div class="sign col-lg-3 ">
            <div class="sign_item">Sign in</div>
            <div class="sign_item">Sign up</div>
        </div>
        
    </div>
</nav>