<h2 class="text-center">HELLO</h2>

<div class="row">
{{# each productsi}}
    <div class="col-lg-4">
    <div >{{name}}</div>
    <div class="thumbnail"><img src="{{image}}" alt=""></div>
    <div>{{description}}</div>
    <div >{{price}}</div>
    <div class="bench" ><a href="#">Add to cart</a></div>
    </div>
    
    {{/each}}
</div>
