<h2>Вход</h2>
{{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
  {{/if}}
<div>
    <form action="/signin" method="POST">
      <input type="text" name="email" placeholder="введите email">
      <input type="text" name="password" placeholder="введите пароль">
      <button type="submit">Sign in</button>
    </form>
    
</div>