<h2>Регистрация</h2>
{{!-- {{#if hasError}}
<div>
  {{# each messages}}
  <p>{{this}}</p>
  {{/each}}
</div>
{{/if}} --}}
 {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
  {{/if}}
<div>
    <form action="/signup" method="POST">
      <input type="text" name="email" placeholder="введите email">
      <input type="password" name="password" placeholder="введите пароль">
      <button type="submit">Sign up</button>
    </form>
    
</div>