<h2>Регистрация</h2>

<div>
    <form action="/signup" method="POST">
      <input type="text" name="email" placeholder="введите email">
      <input type="text" name="password" placeholder="введите пароль">
      <button type="submit">Sign up</button>
    </form>
    
</div>